.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    padding: 2rem;
    
}
.board{
    padding: 2rem;
    
}

@media screen and (max-width: 48rem) {
    .board{
        padding-top: 5rem;
    }
    
}
