
@tailwind base;
  @tailwind components;
  @tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

  .swiper-button-prev{
    color:  #F37E11 !important;
  }

.swiper-button-next{
    color:    #F37E11  !important;
  }
.swiper-scrollbar-drag{
  background-color: #F37E11 !important;
}

.swiper-pagination-bullet{
  background-color: #F37E11 !important;
}

 




