.coming{
    display: flex;
    
    align-items: center;
    flex-direction: column;
    height: 30rem;
    background-color: whitesmoke;
    width: 70%;
    gap: 1rem;
    
}
.imagewrapper{
    position: relative;
    width: 100%;
    height: 10rem;

}
.image{
    object-fit: cover;
}
.board{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.soon{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
