.coming{
   background-color: red;
   
    
}


.board{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.soon{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.icon{
    width: 50%;
    height: 5rem;
}
