.featuredpost{
  
  
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  

   

 
  
 
  

}

.featured{
    
   display: flex;
   
   align-items: center;
   background-color: rgb(250, 248, 248);
   
  

}
 

.image{
    object-fit: cover;
    width: 100%;
      
   
       
      
      
       
   }
   .imagewrapper{
       position: relative;
    
       width: 80%;
       height: 25rem;
      
      
      
       
   
       /* display: flex;
       flex-wrap: wrap;
       width: 100%;
       height: 25rem;
   
       justify-content: center;
       align-items: center;
       object-fit: cover; */
      
       
      
   
      
       
       
      
   
   
   }










 /* .image{
    width: 100%;  
    height: 100%;
    border-radius: 1rem;
}

.imagewrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 25rem;
    padding: 10px;
    

    justify-content: center;
    align-items: center;
    object-fit: cover;
   

   
  
   


} */


.content button{
    background-color: #F37E11;
    width: 300px;
    height: 50px;
    color: white;
    border-radius: 0.2rem;
    font-weight: bold;
}
.content h2{
    text-align: center;
}
.content p  {
 text-align: center;
 
}


@media screen and (min-width:48rem) {
    .content h2{
        font-weight: bold;
        font-size: 30px;
        text-transform: uppercase;
        
        
    
    }
    .content p{
        font-weight: bold;
    }

    
}

@media screen and (max-width: 48rem){
    .content h2{
        font-weight: bold;
        
        font-size: 20px;
        text-transform: uppercase;
    }
    .featured{
        flex-direction: column;
        height: 30rem;
    }
    .imagewrapper{
        width: 100%;

    }
   

    
}

@media screen and (max-width: 28rem){
    
}




 .imagewrapper .image{
    width: 100%;
    height: 100%;
    
   
   
    
}

.content{

    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 100%;
   
    align-items: center;
    padding: 1rem;
    gap: 1rem;
   
  
    flex-direction: column;

}
.content p{
    display: flex;
    flex-wrap: wrap;
  
}

