.ul{
    display: flex;
    list-style: none;
    gap: 1rem;
    /* From https://css.glass */
/* From https://css.glass */
background: rgba(255, 255, 255, 0.81);
border: 1px solid #F2A359 !important;
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.2);
padding: 1rem;

}
.ul li a {
    text-decoration: none;
    font-size: 14px;
 


}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}
.header h2{
    color: #F2A359;
}

.active{
    padding: 0.75rem;
    border-radius: 0.75rem;
    background-color: #F2A359;
    color: black;
    transition: ease-in-out 0.2s;
}
.empty{
    color: black;
}
.prof{
    position: relative;
}
.main{
    position: absolute;
    top: 3.7rem;
    right: 0.3rem;
    border: 1px solid  #F2A359;
    padding: 15px;
    background-color: white;
  
    border-radius: 16px;
    transition: 0.2s ease-in;


}
.main::before{
    content: "";
    position: absolute;
    top: -0.7rem;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
    background-color: white;
    right: 1.1rem;
    border-left: 1px solid #F2A359;
    border-top: 1px solid #F2A359;

}